{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar-->
        <h1><a class="home" href="#">GamesPlay</a></h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- details section -->
    <section id="game-details">
        <h1>Game Details</h1>
        {% if games %}
        <div class="info-section">
            {%  for game in games %}
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="{{ game.image }}"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ game.title }} <span class="levels">Rating: {{ game.rating }}</span></h1>
                <!-- game category -->
                <p><span class="type">Category: {{ game.category }}</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Max Level: {{ game.max_level }}</span></p>
            </div>
            <!-- game summary (if any)-->
            <p class="text">
                {{ game.summary }}
            </p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit game' game.id %}" class="button">Edit</a>
                <a href="{% url 'delete game' game.id %}" class="button">Delete</a>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>
            No games yet
            </p>

    {% endif %}
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>